<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - [practice] Vue-Ticket Editor</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;family=Noto+Sans+TC&amp;family=Quicksand&amp;family=Roboto&amp;display=swap'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="container">
    <div class="ticket">
      <label>
        <input id="open" type="checkbox" v-model="open"/>
        <div class="cover">
          <div class="bgcolor"><i class="fa fa-chevron-down" id="down"></i></div><img :src="imgurl"/>
        </div>
      </label>
      <div class="info">
        <div class="event">
          <div class="tital">{{eventtital}}</div>
          <div class="subtital">{{subtital}}</div>
          <div class="content"><i class="fa fa-user"></i>
            <div class="ans">ID: {{person}}</div>
          </div>
          <div class="content"><i class="fa fa-calendar-alt"></i>
            <div class="ans">{{date}}</div>
          </div>
          <div class="content"><i class="fa fa-clock"></i>
            <div class="ans">{{time_start + time_to + time_end}}</div>
          </div>
          <div class="content"><i class="fa fa-ticket-alt"></i>
            <div class="ans">{{day+type}}</div>
          </div>
          <div class="content"><i class="fa fa-dollar-sign"></i>
            <div class="ans">&yen; {{day==5? 11000:day*dayprice}}</div>
          </div>
          <div class="content"><i class="fa fa-map-marker-alt"></i>
            <div class="ans">{{site}}</div>
          </div>
          <div class="content"><i class="fa fa-map"></i><a class="ans" v-bind:href="mapurl">{{adress}}</a></div>
        </div>
        <div class="status"> 
          <div class="st_hover"></div>
          <p>status</p>
        </div>
      </div>
    </div>
    <div class="out_tital">{{eventtital}}</div>
  </div>
  <div class="editor">
    <div class="userinput">
      <lable>Picture URL :</lable>
      <input class="longer" type="url" v-model="imgurl"/>
    </div>
    <div class="userinput">
      <lable>Event Tital :</lable>
      <input type="text" v-model="eventtital"/>
    </div>
    <div class="userinput">
      <lable>Subtital :</lable>
      <input type="text" v-model="subtital"/>
    </div>
    <div class="userinput">
      <lable>Person ID :</lable>
      <input type="text" v-model="person"/>
    </div>
    <div class="userinput">
      <lable>Event Date :</lable>
      <input type="date" v-model="date"/>
    </div>
    <div class="userinput">
      <lable>Start Time :</lable>
      <input type="time" v-model="time_start"/>
    </div>
    <div class="userinput">
      <lable>Endding Time :</lable>
      <input type="time" v-model="time_end"/>
    </div>
    <div class="userinput">
      <lable>Ticket Type :</lable>
      <input type="number" max="5" min="1" v-model="day"/>
      <lable>Day Ticket</lable>
    </div>
    <div class="userinput">
      <lable>Location :</lable>
      <input class="longer" type="text" v-model="site"/>
    </div>
    <div class="userinput">
      <lable>Adress :</lable>
      <input class="longer" type="text" v-model="adress"/>
    </div>
    <div class="userinput">
      <lable>Map URL :</lable>
      <input class="longer" type="url" v-model="mapurl"/>
    </div>
    <div class="userinput" id="status">
      <lable>Status Color :</lable>
      <div class="status_con">
        <input id="st_color" type="color" v-model="color_st"/>
        <button id="stbtn" v-on:click="statuscolor()">submit</button>
      </div>
    </div>
    <div class="userinput">
      <lable>Status :</lable>
      <input id="statusch" type="checkbox" v-model="status"/>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
