<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - [work] Vue-Ticket Editor-IIII</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;family=Noto+Sans+TC&amp;family=Quicksand&amp;family=Roboto&amp;display=swap'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="banner">
    <div class="controlpanel">
      <div class="mod_con">
        <div class="addticket" @click="addticket" v-model="delMode"><i class="fa fa-plus" id="plus"></i></div>
        <p class="Mod_p">Add Ticket</p>
      </div>
      <label>
        <input id="delMode_input" type="checkbox"/>
        <div class="mod_con">
          <div class="delticket" @click="delMode=!delMode" :class="{delMode_on: delMode}"><i class="fa fa-trash-alt" id="trashcan"></i></div>
          <p class="Mod_p" :class="{p_show: delMode}">Delete Ticket</p>
        </div>
      </label>
    </div>
  </div>
  <div class="ticketNeditor">
    <div class="container" v-for="(ticket,Tid) in events">
      <div class="ticketNoutT">
        <div class="ticket">
          <label>
            <input id="open" type="checkbox" v-model="ticket.openT"/>
            <div class="cover">
              <div class="bgcolor" @click="seting_close(Tid) , hideEd(Tid)"><i class="fa fa-chevron-down" id="down" :class="{close_down: ticket.openT}"></i></div><img :src="ticket.imgurl"/>
            </div>
          </label>
          <div class="info" :class="{open_info: ticket.openT}">
            <div class="event">
              <div class="tital">{{ticket.eventtital}}</div>
              <div class="subtital">{{ticket.subtital}}</div>
              <div class="content"><i class="fa fa-user"></i>
                <div class="ans">ID: {{ticket.person}}</div>
              </div>
              <div class="content"><i class="fa fa-calendar-alt"></i>
                <div class="ans">{{ticket.date}}</div>
              </div>
              <div class="content"><i class="fa fa-clock"></i>
                <div class="ans">{{ticket.time_start + ticket.time_to + ticket.time_end}}</div>
              </div>
              <div class="content"><i class="fa fa-ticket-alt"></i>
                <div class="ans">{{ticket.type}}</div>
              </div>
              <div class="content"><i class="fa fa-dollar-sign"></i>
                <div class="ans">NT$ {{ticket.price}}</div>
              </div>
              <div class="content"><i class="fa fa-map-marker-alt"></i>
                <div class="ans">{{ticket.site}}</div>
              </div>
              <div class="content"><i class="fa fa-map"></i><a class="ans" v-bind:href="ticket.mapurl">{{ticket.adress}}</a></div>
            </div>
            <div class="status" :style="{background: ticket.color_st}">
              <div class="st_hover" :class="{ticketused: ticket.status}">
                <p>{{ticket.status?ticket.status_ued:ticket.status_un}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="out_tital" :class="{close_outT: ticket.openT}">{{ticket.eventtital}}</div>
      </div>
      <div class="setting">
        <div class="seticon" :class="{open_ed: ticket.openE, hide_set: !ticket.openT}" v-model="ticket.openE" @click="ticket.openE=!ticket.openE , showEd(Tid)"><i class="fa fa-sliders-h" id="cog"></i></div>
        <div class="delMode" :class="{delMode_show: delMode}" @click="delticket(Tid)"><i class="far fa-trash-alt" id="trash"></i></div>
      </div>
      <div class="editor" :class="{close_ed: !ticket.openE, close_ed_h: !ticket.openT}">
        <div class="cover_ed" :class="{open_cover: ticket.show_ed}"></div>
        <div class="closeEd">
          <div class="icon_con">
            <div class="closeicon" @click="ticket.openE=!ticket.openE , hideEd(Tid)"></div>
          </div>
        </div>
        <div class="items">
          <div class="userinput" v-for="editor in editors">
            <lable>{{editor.name + " :"}}</lable>
            <input :class="{longer: editor.longer}" v-bind:type="editor.type" v-bind:placeholder="editor.holder" v-model="ticket[editor.model]"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
